{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto asperiores aut beatae debitis distinctio earum
    eos facilis fuga fugit id, labore magnam maiores minima mollitia nam nemo non possimus provident quam, qui quisquam
    ratione recusandae similique soluta sunt ullam?
</p>

<p>Non quae suscipit tempora! Adipisci aliquam animi blanditiis
    commodi consequatur dignissimos distinctio eligendi eos est id illo iure laborum libero maxime modi mollitia nam
    non, numquam odio officia optio placeat quia quisquam reprehenderit saepe sit soluta, temporibus vel veritatis
    vero?
</p>

{% endblock %}